#<assembly>
#<interchunk>
jmp section_rules_start
macro_f_bcond_start:
pushsb 1
push-str  
cmp
not
jz when_0_end
pushsb 1
out 1
jmp choose_0_end
when_0_end:
choose_0_end:
macro_f_bcond_end: ret
section_rules_start:
patterns_start:
push-str <SN>|<SN><*>
push-int 1
addtrie action_0_start
push-str <PREP>
push-str <SN>|<SN><*>
push-int 2
addtrie action_1_start
push-str <PREP>
push-str <SA>|<SA><*>
push-int 2
addtrie action_2_start
push-str <SA>|<SA><*>
push-int 1
addtrie action_3_start
push-str <DET><*>
push-int 1
addtrie action_4_start
push-str <sent>
push-int 1
addtrie action_5_start
patterns_end:
action_0_start:
push-int 1
push-str lem
clip
push-int 1
push-str tags
clip
push-int 1
push-str chcontent
clip
chunk 3
out 1
action_0_end:
action_1_start:
push-int 1
push-str lem
clip
push-str asupra|contra|împotriva|înaintea|dinaintea|împrejurul|dinăuntrul|înapoia|deasupra|în fața|în dosul|în spatele|la mijlocul|în centrul|în vremea|pe vremea|în timpul|din timpul|din cauza|din pricina|în vederea|în folosul|în favoarea|în defavoarea|în detrimentul|în paguba|în ciuda|în pofida|în numele|la adresa|cu excepția|în afara|datorită|grație|mulțumită|conform|potrivit|contrar|asemenea|asemeni|aidoma|așijderea
inig
jz when_1_end
push-int 2
push-str tags
push-str <SN><dg>
storecl
jmp choose_1_end
when_1_end:
choose_1_end:
push-int 1
push-str lem
clip
push-int 1
push-str tags
clip
push-int 1
push-str chcontent
clip
chunk 3
pushsb 1
push-int 2
push-str lem
clip
push-int 2
push-str tags
clip
push-int 2
push-str chcontent
clip
chunk 3
out 3
action_1_end:
action_2_start:
push-int 1
push-str lem
clip
push-str asupra|contra|împotriva|înaintea|dinaintea|împrejurul|dinăuntrul|înapoia|deasupra|în fața|în dosul|în spatele|la mijlocul|în centrul|în vremea|pe vremea|în timpul|din timpul|din cauza|din pricina|în vederea|în folosul|în favoarea|în defavoarea|în detrimentul|în paguba|în ciuda|în pofida|în numele|la adresa|cu excepția|în afara|datorită|grație|mulțumită|conform|potrivit|contrar|asemenea|asemeni|aidoma|așijderea
inig
jz when_2_end
push-int 2
push-str tags
push-str <SN><dg>
storecl
jmp choose_2_end
when_2_end:
choose_2_end:
push-int 1
push-str lem
clip
push-int 1
push-str tags
clip
push-int 1
push-str chcontent
clip
chunk 3
pushsb 1
push-int 2
push-str lem
clip
push-int 2
push-str tags
clip
push-int 2
push-str chcontent
clip
chunk 3
out 3
action_2_end:
action_3_start:
push-int 1
push-str lem
clip
push-int 1
push-str tags
clip
push-int 1
push-str chcontent
clip
chunk 3
out 1
action_3_end:
action_4_start:
push-int 1
push-str lem
clip
push-int 1
push-str tags
clip
push-int 1
push-str chcontent
clip
chunk 3
out 1
action_4_end:
action_5_start:
push-str nombre
push-str <sg>
storev
push-int 1
push-str whole
clip
chunk 1
out 1
action_5_end:
section_rules_end:
